:root {
    --text-main: grey;
}

::-webkit-scrollbar {
    height: 4px;
    width: 4px;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #dedede;
    -webkit-border-radius: 2px;
}

::-webkit-scrollbar-corner {
    background: transparent;
}

* {
    scrollbar-color: #dedede;
    scrollbar-width: thin;
}

.font--family {
    font-family: "Noto Sans Arabic", "Roboto" !important;
}

/* general override */
body {
    font-family: "Noto Sans Arabic", "Roboto";
    letter-spacing: 0.3px;
    color: #1e252d;
    font-weight: 400;
    transition: 0.4s all ease-in-out;
}

/* background color */

.text-theme {
    color: var(--text-main);
}

.tooltip-inner {
    max-width: 500px !important;
}

.page-wrapper .page-body-wrapper {
    background: transparent;
}

.page-wrapper .page-body-wrapper .page-body {
    background-color: transparent;
}

.page-wrapper.compact-wrapper
    .page-body-wrapper
    header.main-nav
    .main-navbar
    .nav-menu
    > li
    .nav-link {
    padding-bottom: 15px;
    padding-top: 15px;
    border-radius: 3px;
    border-bottom: 1px solid #f1f1f1;
}

/* modal edits */

.modal-content {
    padding: 15px;
    border-radius: 12px;
}

.modal--remove {
    background-color: whitesmoke;
}

.rtl .modal-header .btn-close,
.rtl .modal-footer .btn-close,
.rtl .modal-content .btn-close {
    top: 42px;
}

/* modal-sm */
@media (min-width: 576px) {
    .modal-sm {
        max-width: 400px;
    }
}

/* ------------------------- globals */

img,
i {
    transition: 0.4s all ease-in-out;
}

tbody tr {
    background-color: #fbfbfb;
}

.table-bordered td,
.table-bordered th {
    border-color: #f1f1f1 !important;
}
tr {
    vertical-align: middle !important;
}
th {
    font-size: 14px;
    font-weight: 500 !important;
    min-width: 100px;
}

td {
    font-size: 13px;
    font-weight: 400;
}

label {
    font-size: 13px;
    font-weight: 700;
    margin-bottom: 5px !important;
    letter-spacing: 0.8px;
}
input[type="date"] {
    text-align: center;
}

input[name="phone"] {
    direction: ltr;
    text-align: right;
}

input[type="file"] {
    padding-top: 12px;
    padding-bottom: 12px;
}

.fs-12 {
    font-size: 12px;
}

.fs-13 {
    font-size: 13px;
}

.fs-14 {
    font-size: 14px;
}

.scaleRotate--1:hover i,
.scaleRotate--1:focus i {
    transform: scale(1.2) rotate(360deg);
}

.scale--2:hover i,
.scale--2:focus i,
.scale--2:hover img,
.scale--2:focus img {
    transform: scale(1.2);
}

.of-contain {
    object-fit: contain;
}

.of-cover {
    object-fit: cover;
}

/* ------------------------- select2 */

.select2-container--default
    .select2-selection--single
    .select2-selection__rendered {
    line-height: 36px;
    font-weight: 400;
    font-size: 13px;
}

.select2-container--default
    .select2-selection--single
    .select2-selection__rendered {
    color: #1e252d;
}

.selection .select2-selection {
    font-family: "Noto Sans Arabic", "Roboto";
}

.select2-container--default
    .select2-selection--single
    .select2-selection__arrow {
    top: 11px !important;
}

/* ------------------------- globals / custom */

.logo--login {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0px;
    right: 0px;
    object-fit: contain;
}

.logo--app {
    width: 100%;
    height: 56px;
    object-fit: contain;
}

.form--subheading {
    border-bottom: 2px solid #eaeaea;
    padding-bottom: 4px;
}
.btn--table {
    padding: 4px 15px;
    font-size: 13px;
}

.btn--close {
    border-bottom: 1px solid var(--bs-danger);
    border-radius: 0px;
}

.table--heading {
    margin: 1px;
    background-color: #fbfbfb;
    color: var(--text-main);
    margin-bottom: 0px;
    padding: 13px 0px;
    letter-spacing: 0.8px;
    font-size: 16px;
}

.table--img {
    border: 2px solid #eaeaea;
    width: 50px;
    height: 50px;
}

.checkbox--item {
    width: 48%;
}

input {
    font-size: 13px;
    height: 46px;
    outline: none;
    box-shadow: none !important;
    font-weight: 400 !important;
}

input[type="checkbox"] {
    height: auto;
}

/* global classes */
.min-w-80px {
    min-width: 80px;
}
.min-w-90px {
    min-width: 90px;
}

.min-w-100px {
    min-width: 100px;
}

.min-w-110px {
    min-width: 110px;
}

.min-w-120px {
    min-width: 120px;
}

.min-w-130px {
    min-width: 130px;
}

.min-w-140px {
    min-width: 140px;
}

.min-w-150px {
    min-width: 150px;
}

.min-w-170px {
    min-width: 170px;
}

.min-w-180px {
    min-width: 180px;
}

.min-w-200px {
    min-width: 200px;
}

.rtl .customizer-links {
    display: none;
}

.customizer-links {
    display: none;
}

.mb-20 {
    margin-bottom: 35px;
}
