.input-group span {
    border-radius: 0px 5px 5px 0px !important;
}

.input-group input {
    border-radius: 5px 0px 0px 5px !important;
}

.login-form {
    border-radius: 10px;
}

.home--bg {
    background-size: cover;
    background-position: center;
}

label {
    letter-spacing: 0.4px !important;
}
